/** CSS STYLE **/

:root {
  --white-color: #fff;
  --translucent-white-color: #d7ccc0;
  --bright-color: #f5f4f0;
  --main-color: #fe8a02;
  --main-dark-color: #42413c;
  --dark-color: #2a2626;
  --translucent-dark-color: #908d8b;
  --brown-color: #b09a81;
  --blue-color: #1085c5;
}

@font-face {
  font-weight: normal;
  font-family: 'Neucha';
  src: url('../assets/fonts/Neucha-Regular.ttf');
}

@font-face {
  font-weight: 400;
  font-size: 16px;
  font-family: 'Open-Sans', sans-serif;
  src: url('../assets/fonts/OpenSans-Regular.ttf');
}

body {
  margin: 0;
  padding: 0;
  border: 0;

  color: #2a2626;
  font-size: 16px;
  font-family: 'Open-Sans', sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-family: 'Neucha', sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

h4 {
  letter-spacing: 0.027em;
}

p {
  letter-spacing: 0.027em;
}

a,
a:visited {
  color: inherit;

  text-decoration: none;
}

.section {
  position: relative;

  box-sizing: border-box;

  width: 1440px;

  margin: 0 auto;
}

.bg-image {
  position: relative;

  z-index: 5;
}

.bg-image::before {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.container {
  position: relative;

  width: 1110px;

  margin: 0 auto;
  padding: 100px 0;
}

.main-color {
  color: var(--main-color);
}

.white-color {
  color: var(--white-color);
}

.brown {
  color: var(--brown-color);
}

.white-bg {
  background-color: var(--white-color);
}

.bright-bg {
  background-color: var(--bright-color);
}

.dark-bg {
  background-color: var(--main-dark-color);
}

.brown-bg {
  background-color: var(--brown-color);
}

.shadow {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.columns-container {
  display: flex;
  gap: 30px;
}

.column {
  flex: 1 1 100px;
}

.subtitle {
  margin: 2px 0 2px 0;

  font-size: 23px;
  font-family: 'Neucha', serif;
}

.description {
  margin-top: 30px;

  font-family: 'Neucha', serif;
  line-height: 1.25em;
}

.container h4 {
  margin: 94px 0 20px 0;
  padding-left: 10px;

  font-size: 13px;
  text-transform: uppercase;
}

.column-text {
  margin: 0;
}

/* header */

header .columns-container {
  margin-top: 185px;
}

.header-img {
  position: absolute;

  top: 55px;

  right: -105px;

  height: 525px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--white-color);

  font-size: 16px;
  text-transform: uppercase;

  background-color: var(--main-color);
}

header .btn {
  width: 148px;
  height: 49px;

  margin-top: 40px;
}

.btn:hover {
  background-color: #ea7600;
}

/* video */

.video .container {
  text-align: center;
}

.video p {
  margin-top: 30px;
  margin-bottom: 30px;
}

.video-frame {
  position: relative;

  z-index: 10;

  margin-bottom: -200px;
}

/* nav */

.nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 100px;
}

.nav-item {
  display: block;
  flex: 0 1 350px;

  box-sizing: border-box;

  height: 323px;

  background-color: var(--bright-color);
}

.nav-item h2 {
  font-size: 52px;
}

.nav-item h3 {
  color: var(--main-color);
}

.nav-item:first-child {
  background-color: inherit;
}

.nav-item:nth-child(n+4) {
  height: 348px;

  margin-top: 20px;
}

.nav-item:nth-child(n+2) {
  padding: 24px;
}

.highlights:hover,
.highlights:hover h3 {
  color: var(--white-color);

  background-color: var(--main-color);
}

.numbers {
  margin: 0 0 40px 0;

  font-size: 64px;
  font-family: Neucha, sans-serif;
  line-height: 1em;
}

/* footer */

footer .description {
  margin: 56px;

  font-size: 34px;
}

label {
  display: block;
}

.mail {
  padding: 40px 0 40px 0;
}

.mail-textrarea {
  width: 408px;
  height: 50px;

  margin: 0;
  padding: 0 0 0 15px;
  border: 0;
}

.mail-header {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 18px;
}

.mail-submit {
  width: 62px;
  height: 50px;

  margin: 0;
  padding: 0;
  border: 0;
}

.mail-container {
  display: flex;
}

.terms {
  margin: 0;

  font-size: 12px;
}

.mail-btn {
  position: relative;

  width: 62px;
  height: 50px;

  margin: 0;
  padding: 0;
  border: 0;
}

.mail-btn::before {
  position: absolute;

  top: 50%;
  left: 50%;

  display: block;

  width: 50%;
  height: 50%;

  background-image: url('../images/send.svg');
  background-repeat: no-repeat;

  transform: translate(-50%, -50%);

  content: "";
}

.mail a {
  text-decoration: underline;
}

.contacts {
  margin-top: 72px;

  font-size: 14px;

  text-align: center;
}

.contacts a {
  color: var(--blue-color);

  text-decoration: underline;
}
