/** CSS STYLE **/

:root {
  --white-color: #fff;
  --translucent-white-color: #d7ccc0;
  --bright-color: #f5f4f0;
  --main-color: #fe8a02;
  --main-dark-color: #42413c;
  --dark-color: #2a2626;
  --translucent-dark-color: #908d8b;
  --brown-color: #b09a81;
  --blue-color: #1085c5;
}

@font-face {
  font-weight: normal;
  font-family: 'Neucha';
  src: url('../assets/fonts/Neucha-Regular.ttf');
}

@font-face {
  font-weight: 400;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  src: url('../assets/fonts/OpenSans-Regular.ttf');
}

body {
  color: #2a2626;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3 {
  font-weight: 300;
  font-family: 'Neucha', sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.section {
  position: relative;

  width: 1440px;

  margin: 0 auto;
  padding: 100px 0 100px;
}

/* position */
.header-pos {
  height: 914px;
}

.video-pos {
  position: relative;
  bottom: -30px;
  left: 50%;

  transform: translateX(-50%);
}

.h-805 {
  height: 805px;
}

/* box-model */
.mt-7 {
  margin-top: 7px;
}

.mb-23 {
  margin-bottom: 23px;
}

.center-block {
  margin-right: auto;
  margin-left: auto;
}

.mt-14 {
  margin-top: 14px;
}

/* typo */
.text-align-center {
  text-align: center;
}

/* visual */
.bg-color-bright {
  background-color: var(--bright-color);
}

.bg-color-white {
  background-color: var(--white-color);
}

.bg-color-dark {
  background-color: var(--dark-color);
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-visible {
  overflow: visible;
}

.text-main-color {
  color: var(--main-color);
}

.video-shadow {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

/* others */

.section-bg::before {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.content-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 1110px;
  height: 100%;

  margin: 0 auto;
}

.main-image {
  position: absolute;
  top: 55px;
  left: 461px;
  z-index: 5;
}

.text-wrapper {

  z-index: 10;

  column-count: 2;
  column-gap: 30px;
}

.button-box-model {
  width: 148px;
  height: 49px;
}

.button-typo {
  font-weight: 700;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;

  text-transform: uppercase;
}

.button-visual {
  color: var(--white-color);

  background-color: var(--main-color);
}

.button-position {
  margin-top: 40px;
}

.break-after {
  break-after: column;
}
